$header-link-padding: 40px;
$header-link-font-weight: 600;
$header-link-font-size: 16px;
$header-link-color: #fff;
$header-link-hover-bc: #3A68B8;
$header-link-hover-borad: 5px;
$margin-top-from-header: 160px;

.header-link {
    padding: $header-link-padding;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: $header-link-font-weight;
    font-size: $header-link-font-size;
    line-height: 22px;
    color: $header-link-color;
    text-decoration: none;
}

.header-link:hover {
    background-color: $header-link-hover-bc;
    border-radius: $header-link-hover-borad;
}

.main {
    margin-top: $margin-top-from-header;
}


.flex-box {
    display: flex;
    justify-content: space-between;
}
