* {
  margin: 0;
  padding: 0;
  outline: none;
}

.header-link {
  padding: 40px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
}

.header-link:hover {
  background-color: #3A68B8;
  border-radius: 5px;
}

.main {
  margin-top: 160px;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.next {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #3A68B8;
}

.main-headding {
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  width: 604px;
}

.main-dsc {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #ccc;
  margin-top: 40px;
  width: 558px;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
}

.get {
  background-color: #3A68B8;
  border-radius: 5px;
  margin-right: 20px;
}

.button-txt-flex {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.watch {
  background-color: #3A68B8;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.watch-txt {
  font-weight: 600;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin-left: 10px;
}

.button-flex {
  display: flex;
}

.button-txt {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
}

.get:hover,
.watch:hover {
  outline: 4px solid #fff;
}

.footer_first {
  margin-top: 200px;
  background-color: #09111F;
  padding-bottom: 107px;
  padding-top: 33px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.banner {
  margin-top: 157px;
  margin-bottom: 264px;
}

.banner-txt {
  width: 485px;
}

.banner-heading {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 120px;
}

.banner-dsc {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  opacity: 0.7;
  margin-top: 30px;
}

.banner-button {
  margin-top: 50px;
}

.adv-item {
  width: 362px;
  padding: 30px;
  text-align: center;
  background-color: #132035;
  border-radius: 10px;
  box-sizing: border-box;
}

.adv-heading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #fff;
  opacity: 0.7;
  margin: 30px 0;
}

.down {
  margin-top: 30px;
}

.adv-left {
  padding: 30px;
  text-align: center;
  background-color: #132035;
  border-radius: 10px;
  box-sizing: border-box;
  width: 755px;
  margin-top: 30px;
}

.img-big {
  width: 306px;
}

.advantages {
  margin-bottom: 200px;
}

.banner_second {
  margin-top: 243px;
  margin-bottom: 221px;
}

.bannertxt-sec {
  width: 548px;
}

.banner-heading-sec {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #fff;
  padding-top: 0px;
  padding-bottom: 40px;
}

.banner-dsc-sec {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  opacity: 0.7;
  padding-bottom: 20px;
  padding-right: 113px;
  width: 460;
}

.banner-pic {
  width: 573px;
  height: 470px;
}

.footer {
  background-color: #070F1D;
  margin-top: 221px;
}

.footer-heading {
  display: flex;
  gap: 130px;
}

.p-heading {
  width: 261px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-top: 43px;
  padding-bottom: 33px;
}

.icons {
  display: flex;
  gap: 130px;
}

.icons {
  flex-wrap: wrap;
}

.p-item {
  width: 261px;
  font-style: normal;
  font-weight: 500;
}

.p-item-it {
  font-style: italic;
  font-weight: 100;
  opacity: 0.6;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 261px;
  margin-bottom: 102px;
}

.phone {
  padding-top: 24px;
  padding-bottom: 26px;
}

.company {
  font-weight: 500;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-bottom: 33px;
}

.picter {
  width: 128px;
}

.inform {
  padding-right: 9px;
}

.about {
  padding-right: 24px;
}

body {
  background-color: #020A18;
}

.header {
  background-color: #0a121f;
}

.footer_first {
  border-color: #09111F;
}

.container {
  margin: 0 auto;
  width: 1146px;
}

.nav {
  display: flex;
  justify-content: center;
}

.robotoextend, .p-item, .p-item-it, .company {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */